
.skill {
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 50px;
}

.skillTitle {
    /*text-transform: uppercase;*/
    margin: 0 0 15px;
    padding: 0;
    font-size: 19px;
    font-width: 600;
    line-height: 1.2;
    /*font-family: 'Josefin Sans', sans-serif;*/
    letter-spacing: 1px;
}

.icon {
    height: 80px;
    width: 80px;
    background: rgba(255, 255, 255, 0.1);
    transform: rotate(45deg);
    margin-bottom: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon img {
    transform: rotate(-45deg);
    width: 90%;
}

.description {
    text-align: center;
}

@media screen and (max-width: 1128px) {
    .skill {
        width: 500px;
    }
}

@media screen and (max-width: 630px) {
    .skill {
        width: 100%;

    }
}

@media screen and (max-width: 600px) {
    .skill {
        width: 100%;
    }
}