.project {
    width: 500px;
    display: flex;
    flex-direction: column;

    /*justify-content: center;//////*/
    align-items: center;
}

.projectTitle {
    text-align: center;
    margin-top: 3px;
    font-size: large;
}

.projectImg {
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;

}


.description {
    margin: 0 15px 30px;
    text-align: center;
}

.btnShow {

    width: 150px;
    height: 50px;
    color: #97a1a6;
    background-color: #252527;
    display: flex;
    justify-content: center;
    align-items: center;

    font-family: 'Josefin Sans', sans-serif;
    align-self: center;
    text-transform: uppercase;
    text-decoration: none;
    position: absolute;
    border: 2px solid coral;
    transition: 0.3s;
}


.btnShow:hover {

    color: white;
    background-color: #252527;
}


.project img {
    position: absolute;

}

@media screen and (max-width: 1252px) {
    .projectsWrapper {
        justify-content: center;
    }
}


@media screen and (max-width: 510px) {
    .projectImg {
        height: 228px;
    }

    .project img {
        width: 380px;
        height: 228px;
    }
}