
.nav  {
    width: 300px;
    display: flex;
    justify-content: space-between;
}


.link {
    text-decoration: none;
    color: white;
    font-weight: 600;
}

.transition:hover {
    color: coral;
}
.transition {
    transition: 0.8s;
}