.slogan {
    height: 40vh;
    background-color: #252527;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

}

.container {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px 0;
}

.contact {
    margin-top: -20px;
    text-align: center;
}