.header {
    height: 70px;
    /*background-color: #262626;*/
    display: flex;
    justify-content: center;
    /*position: relative;*/
    position: absolute;
    width: 100%;
    z-index: 2;
    opacity: 0.8;
}

.container {
    width: 80%;
    display: flex;
    justify-content: flex-end;
    align-items: center;

}


