.projects {
    min-height: 100vh;
    background-color: #1f1f20;
    display: flex;
    justify-content: center;
    position: relative;
}


.container {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px 0;
    text-transform: capitalize;
}

.projectsWrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
}

.projectTitle {
    margin: 20px 15px 10px;
    padding: 0;
    font-size: 16px;
    font-width: 700;
    line-height: 1.2;
    font-family: 'Josefin Sans', sans-serif;
    letter-spacing: 1px;
}

.description {
    margin: 0 15px 20px;
}


.project {
    width: 500px;
    display: flex;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.1);
    margin-bottom: 60px;
    height: max-content;
    position: relative;

}

.projectImg {
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    /*background-image: url("./assets/img/project.jpg");*/
    /*background-size: cover;*/
    /*background-position: center;*/
}

.projectImg:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 300px;
    /*width: 250px;*/
    background-color: black;
    opacity: 0.6;
}

.btnShow {
    width: 150px;
    height: 50px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

@media screen and (max-width: 1252px) {
    .projectsWrapper {
        justify-content: center;
    }
}

