.skills {
    height: 100vh;
    background-color: #252527;
    display: flex;
    justify-content: center;
}

.container {
    width: 80%;
    border: 1px solid;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px 0;
}


.headerTitle {
    display: flex;
    align-items: center;
    flex-direction: column;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    letter-spacing: 5px;
    line-height: 1.2;
    font-size: 36px;
    text-transform: capitalize;
}

.line {
    height: 1px;
    width: 55px;
    margin: 30px 0;
    background-color: #e9548d;
}

.skillsWrapper {
    display: flex;
    justify-content: space-between;
    width: 100%;
    flex-wrap: wrap;
}


.skill {
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 50px;


}

.skillTitle {
    text-transform: uppercase;
    margin: 0 0 15px;
    padding: 0;
    font-size: 16px;
    font-width: 700;
    line-height: 1.2;
    font-family: 'Josefin Sans', sans-serif;
    letter-spacing: 1px;
}

.icon {
    height: 80px;
    width: 80px;
    background: rgba(255, 255, 255, 0.1);
    transform: rotate(45deg);
    margin-bottom: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon img {
    transform: rotate(-45deg);
    width: 90%;

}

.description {
    text-align: center;
}

@media screen and (max-width: 1128px) {
    .skillsWrapper {
        flex-direction: column;
        align-items: center;

    }
}


@media screen and (max-width: 1128px) {
    .skill {
        width: 500px;
    }
}

@media screen and (max-width: 630px) {
    .skill {
        width: 100%;

    }
}