.slogan {
    height: 30vh;
    background-color: bisque;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 80%;
    border: 1px solid;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.head {
    height: 50px;
}